@import "normalize";
@import "colors";
@import "helper";
@import "buttons";
@import "fonts";
@import "titles";
@import "header";
@import "footer";

body {
    position: relative;
    background: @main-bg;
}
.content {
    min-height: 100vh;
    section {
        display: inline-block;
        width: 100%;
        min-height: 100vh;
        box-sizing: border-box;

    }
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 1023px) {
    .wrapper {
        padding: 0 8px;
    }
}