.btn {
    &.action {
        background: @call-to-action;
    }
    &.link {
        display: inline-block;
        border: 4px solid @color-light;
        color: @color-light;
        line-height: 70px;
        text-align: center;
        font-style: italic;
        font-weight: 900;
        font-size: 30px;
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
        box-sizing: border-box;
    }
}
.fechar {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 10px;
    background: url(../../images/ico_fechar.svg) no-repeat center;
    cursor: pointer;
}