@bg-dark:                   #0d1726;
@bg-light:                  #fdfdfb;
@color-light:               #fff;
@main-bg:                   #150126;
@main-green:                #46b8af;
@call-to-action:            #f49c27;

// Social networks
@facebook:                  #3B5999;
@linkedin:                  #0077B5;
@google-plus:               #DD4B39;
@twitter:                   #55ACEE;