html {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
a {
    font-size: 22px;
    font-weight: bold;
    &:hover,
    &:active {
        text-decoration: underline;
    }
    &.disabled {
        opacity: 50%;
    }
}