footer {
    background: url('../../images/bg_fundo_final.png') bottom center no-repeat;
    min-height: 710px;
    .logo-aex {
    	vertical-align: top;
    	margin: 30px 120px 0 0; 
    }
    nav {
    	position: absolute;
    	bottom: 0;
        width: 100%;
        height: 129px;
        background-color: rgba(13, 23, 38, 0.9);
    }
    li {
        display: inline-block;
        padding: 0 20px;
        box-sizing: border-box;
        font-style: italic;
        line-height: 129px;
        position: relative;
        &.active {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 10px;
                width: 100%;
                border: 1px solid @bg-light;
            }
            a {
                font-weight: bold;
            }
        }
        &:last-child {
            padding: 0;
            line-height: initial;
            margin-left: 30px;
        }
    }
    a {
        text-decoration: none!important;
        text-transform: uppercase;
        color: #FFF;
        font-size: 14px;
        font-weight: normal;
    }
    .logo-partners {
    	margin-left: 87px;
    	vertical-align: middle;
    	.logo {
    		vertical-align: top;
    		margin-left: 41px;
    	}
    	.title {
    		color: #FFF;
    		text-transform: uppercase;
    		font-size: 14px;
    		font-weight: bold;
    		font-style: italic;
    		margin: 10px 0;
    		&:after {
    			content: '';
				display: block;
				height: 1px;
				background-color: #e42037;
				width: 80%;
				position: relative;
				right: -33px;
				box-shadow: 0 0 10px 1px rgba(228, 32, 55, 0.5);
    		}
    	}
    }
}