header {
    background: url('../../images/bg_fundo_inicio.png') top center no-repeat;
    min-height: 1030px;
    position: relative;
    nav {
        position: fixed;
        width: 100%;
        height: 110px;
        background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.443) 62.43%, rgba(0, 0, 0, 0) 100%);
        &.fixed {
            height: 80px;
            top: -1px;
            z-index: 50;
            background: black;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        }
    }
    li {
        display: inline-block;
        padding: 16px;
        box-sizing: border-box;
        font-style: italic;
        line-height: 49px;
        position: relative;
        &.active {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 10px;
                width: 100%;
                border: 1px solid @bg-light;
            }
            a {
                font-weight: bold;
            }
        }
        &:last-child {
            padding: 0;
            line-height: initial;
            margin-left: 30px;
        }
    }
    a {
        text-decoration: none!important;
        text-transform: uppercase;
        color: #FFF;
        font-size: 18px;
        font-weight: normal;
    }
    .btn.action {
        width: 230px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        font-weight: bold;
    }
    .content-header {
        width: 100%;
        padding-top: 250px;
    }
    .anchor {
        width: 60px;
        height: 60px;
        display: block;
        margin: 0 auto;
        border: 4px solid;
        border-color: @bg-light;
        cursor: pointer;
        box-shadow: 2px 4px 0px 0px @main-green;
        margin-bottom: 70px;
        background: @bg-dark url(../../images/icon_triangle.svg) no-repeat center;

        &.navigate {
            background: @color-light url(../../images/seta.svg) no-repeat center;
            border-color: @bg-dark;
        }
    }
}