.hide {
    display: none;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.block {
    display: block;
}
.inline {
    display: inline-block;
}
.mt-15 {
    margin-top: 15px;
}
.mb-50 {
    margin-bottom: 50px;
}
.clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
      }
}