h1 {
    font-size: 56px;
    font-weight: 400;
    margin: 0;
}
h2,
h3 {
    margin: 0;
}
h2 {
    margin: 66px 0 52px;
}
.subtitle {
    display: block;
    line-height: 100px;
    width: 100%;
    background: @color-light;
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    color: @bg-dark;
    box-sizing: border-box;
    padding: 10px 0 10px 30px;
    position: relative;
    &:before {
        content: attr(title);
        padding-right: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .text {
        width: 60%;
        display: inline-block;
        font-style: italic;
        font-weight: normal;
        line-height: normal;
        font-size: 20px;
        color: @bg-dark;
        vertical-align: middle;
        position: relative;
        padding-left: 10px;
        &:before {
            content: "";
            border-left: 1px solid @bg-dark;
            position: absolute;
            left: -10px;
            top: 16px;
            height: 40px;
        }
    }
}