.modal {
    max-width: 1030px;
    height: 220px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: @bg-dark;
    border: 1px solid @main-green;
    box-sizing: border-box;
    padding: 20px 10px 30px;
    z-index: 10;
    &[data-visible="false"] {
        display: none;
    }
    h3 {
        display: block;
        font-style: italic;
        font-weight: 900;
        line-height: 26px;
        font-size: 30px;
        text-align: center;
        color: @bg-light;
    }
    .lista {
        margin-top: 24px;
        display: inline-table;
        height: 120px;
        background: @bg-light;
        padding: 20px 0;
        box-sizing: border-box;
        li {
            vertical-align: top;
            width: 25%;
            display: inline-block;
            box-sizing: border-box;
            padding: 0 20px;
            text-align: center;
            &:not(:last-child) {
                border-right: 1px solid @main-bg;
            }
            strong {
                display: block;
                text-align: right;
                height: 30px;
                line-height: 30px;
                font-style: italic;
                font-weight: 900;
                font-size: 16px;
                color: @main-bg;
                margin: 0 auto 10px auto;
                &.cartao {
                    background: url(../../images/ico_cartao.svg) no-repeat center left;
                    width: 179px;
                }
                &.dinheiro {
                    background: url(../../images/ico_dinheiro.svg) no-repeat center left;
                    width: 102px;
                }
                &.cheque {
                    background: url(../../images/ico_cheque.svg) no-repeat center left;
                    width: 102px;
                }
                &.transfer {
                    background: url(../../images/ico_transfer.svg) no-repeat center left;
                    width: 210px;
                }
            }
            p {
                font-family: Roboto;
                font-style: italic;
                font-weight: normal;
                line-height: normal;
                font-size: 12px;
                text-align: center;
                color: @main-bg;
            }
        }
    }
}