.conferencistas {
	li + li {
	    margin-left: 29px;
	}
	.speaker {
		display: inline-block;
		color: #FFF;
		width: 240px;
		text-align: center;
		position: relative;
	}
	.name {
		display: block;
		color: #FFF;
		font-size: 28px;
		font-weight: bold;
		font-style: italic;
	}
	.role {
		display: block;
		color: #FFF;	
		font-size: 22px;
		font-weight: bold;
		font-style: italic;
	}
	.photo {
		display: inline-block;
		width: 169px;
		height: 169px;
		border: 8px solid #0D1726;
		overflow: hidden;
		background-color: #FFF;
		transform: rotate(45deg);
		margin-top: 50px;
		box-sizing: border-box;
		box-shadow: 10px 10px 0 #46b8af;
		position: relative;
		img {
			transform: rotate(-45deg);
			top: -40px;
			position: absolute;
			left: -40px;
		}
	}
	.more-info {
		position: absolute;
		bottom: -35px;
		right: 70px;
		cursor: pointer;
	}
}

// Profile
.profile-speaker {
	background-color: #0D1726;
	border: 1px solid #46B8AF;
	border-bottom: 10px solid #46B8AF;
	position: absolute;
	z-index: 1;
	padding: 10px 10px 50px;
	left: 10px;
	right: 10px;
	top: 90px;
	color: #FFF;
	.main-infos {
		width: 19%;
		margin-right: 79px;
		position: relative;
		.linkedin {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.general-infos {
		width: 70%;
		vertical-align: top;
		p {
			font-size: 20px;
			line-height: 23px;
			font-style: italic;
			margin: 18px 0 38px;
		}
	}
	.lecture {
		width: 60%;
		.title {
			font-size: 34px;
			font-weight: 700;
			font-style: italic;
			margin: 0 20px;
			border-right: 1px solid #fff;
			padding-right: 15px;
		}
		.time {
			display: inline-block;
			font-size: 20px;
			font-style: italic;
			vertical-align: top;
			padding-top: 8px;
		}
		small {
			font-size: 12px;
		}
		.box {
			background-color: #fff;
			padding: 10px 0 10px 19px;
			color: #0D1726;
			margin-top: 10px;
			font-size: 20px;
		}
	}
	.share-speaker {
		width: 37%;
		margin: 10px 0 0 20px;
		vertical-align: top;
		.title {
			display: block;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
			font-style: italic;
			margin-bottom: 10px;
		}
		.social {
			margin-right: 10px;
		}
	}
}
