.dudas {
	margin-bottom: 109px;
	.question {
		color: #1E2E44;
		font-size: 24px;
		padding: 29px 30px 20px;
		cursor: pointer;
		background-color: #fff;
		position: relative;
		&:before {
			content: '';
			height: 1px;
			width: 80%;
			background-color: rgba(154,169,188,.5);
			position: absolute;
			left: 0;
			bottom: 0;
		}
		&:after {
			content: '';
			background: #150126 url('../images/bg_fim_barra_efeito.svg') no-repeat right 0;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 250px;
		}
		&.active .ico-plus {
			background: url('../images/ico_pixel_minus.svg') no-repeat 0 0;
		}
		.ico-plus {
			display: inline-block;
			background: url('../images/ico_pixel_add.svg') no-repeat 0 0;
			width: 30px;
			height: 31px;
			vertical-align: text-bottom;
			margin-right: 30px;
		}
	}
	.answer {
		display: none;
		background-color: #46b8af;
		color: #fff;
		padding: 15px;
		font-size: 14px;
		line-height: 21px;
		margin: 20px 0 20px 15px;
	}
}