.entradas {
    .subtitle {
        position: relative;
        .action-entradas {
            position: absolute;
            top: 87px;
            right: 250px;
            .action {
                display: block;
                width: 300px;
                height: 80px;
                font-style: italic;
                font-weight: 900;
                line-height: normal;
                font-size: 30px;
                text-align: center;
                text-transform: uppercase;
                color: @bg-light;

                line-height: 80px;
                box-shadow: 2px 4px 0px @bg-dark;
                cursor: pointer;
            }
            .formas-pagamento {
                font-style: italic;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                color: @bg-light;
                display: inherit;
                margin-top: 16px;
                margin-left: 15px;
                width: 270px;
                height: 23px;
                background: url(../../images/ico_expandir.svg) no-repeat center right;
                cursor: pointer;
            }
        }
    }
}
.entrada {
    display: block;
    margin-left: 20px;
    max-width: 1400px;
    height: 80px;
    background: @main-green;
    margin-top: 20px;
    padding: 20px 30px;
    box-sizing: border-box;
    .quantidade {
        .counter {
            display: inline-block;
            height: 40px;
            box-sizing: border-box;
            border: 5px solid @main-bg;
            margin-right: 10px;
            .event {
                width: 25px;
                height: 30px;
                cursor: pointer;
            }
            .less {
                float: left;
                background: @call-to-action url(../../images/ico_less.svg) no-repeat center;
            }
            .plus {
                float: right;
                background: @call-to-action url(../../images/ico_plus.svg) no-repeat center;
            }
            .number {
                display: inline-block;
                height: 30px;
                width: 35px;
                line-height: 30px;
                text-align: center;
                background: @bg-light;
                font-style: italic;
                font-weight: 900;
                font-size: 26px;
                text-align: center;
                color: @main-bg;
                padding: 0 6px;
                outline: none;
                border: none;
            }
        }
        .valor {
            display: inline-block;
            vertical-align: top;
            height: 40px;
            box-sizing: border-box;
            line-height: 40px;
            color: @bg-light;
            strong {
                font-style: italic;
                font-weight: 900;
                font-size: 34px;
            }
            .dollar {
                font-style: italic;
                font-weight: normal;
                font-size: 20px;
            }
        }
    }
}