.sobre {
    display: inline-block;
    width: 100%;
    height: 812px;
    background: url(../../images/bg-video.png) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    padding: 178px 0 0 0;
    p {
        color: @color-light;
        line-height: 35px;
        font-size: 30px;
        font-style: italic;
        margin: 0 0 51px 0;
    }
    .link {
        width: 400px;
        height: 70px;
        vertical-align: top;
        margin-right: 8px;
    }
    .anchor {
        display: inline-block;
        margin: 0;
        height: 70px;
        width: 70px;
        box-sizing: border-box;
        vertical-align: top;
    }
}